@{
    ViewData["Title"] = "About";
}

<div class="About_content__Z3iGt">
    <h1 class="About_title__EroSr">About MPLS Coffee</h1>
    <p class="About_text__2UxSe">MPLS Coffee is a free coffee locator app for Minneapolis, St. Paul and all around Minnesota. 
        The idea came from frustration over using mapping applications to try and find good coffee shops around us. 
        We decided to create an app that would show us all the independent coffee shops around and when they were open. Along with the location, we've include a list of features that make the app simple and useful. </p>
    <h2 class="About_sectionTitle__6OVfx">Features</h2>
    <ul class="About_featureList__jUFBe">
        <li>Interactive map of coffee shops in Minneapolis, St. Paul and around Minnesota</li>
        <li>Detailed information on each coffee shop</li>
        <li>User ratings and reviews</li>
        <li>Open hours and contact details</li>
        <li>Directions to your coffee shop destinations</li>
        <li>Using Google AI features, each coffee shop includes a summary of coffee, vibe and location</li>
        <li>Real-time list of currently open coffee shops</li>
    </ul>
   
    <h2 class="About_sectionTitle__6OVfx">Open Now Feature</h2>
    <p class="About_text__2UxSe">Need coffee right away? Our "Open Now" list shows you all the coffee shops currently
        serving in real-time. No more disappointment from arriving at a closed shop – we've got you covered with
        up-to-date information on operating hours.</p>
    <h2 class="About_sectionTitle__6OVfx">Our Mission</h2>
    <p class="About_text__2UxSe">We're passionate about connecting coffee lovers with local businesses and helping you
        discover new favorite spots in Minneapolis. Whether you're a resident or just visiting, MPLS Coffee is your
        trusted companion for all things coffee in the city.</p>
    <h2 class="About_sectionTitle__6OVfx">Contact Us</h2>
     <p class="About_text__2UxSe">We'd love to hear your feedback, suggestions, or any questions you might have about
        MPLS Coffee. Don't hesitate to reach out!</p>
    <a href="mailto:hello@mplscoffee.com" class="btn btn-primary"><i class="fa-light fa-envelope"></i>&nbsp;<span>hello@mplscoffee.com</span></a>
   
</div>