@{
    ViewData["Title"] = "Download the MPLS Coffee App";
}

<div class="row">
    <div class="col-12">
        <h1>Download the MPLS Coffee App</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            MPLS Coffee is a thoughtfully designed app that helps coffee enthusiasts discover high-quality, independent
            coffee shops across Minneapolis, St. Paul, and surrounding areas. Our platform connects users with locally
            owned cafés, highlighting specialty coffee roasters, expert baristas, and unique spaces that contribute to
            the region's vibrant coffee culture.
        </p>
        <p>
            With a focus on quality and user experience, MPLS Coffee provides real-time access to curated coffee shop
            recommendations based on location, specialty drinks, and ambiance. Whether you are looking for a precise
            pour-over, an expertly crafted espresso, or a welcoming atmosphere to work or connect, our app is designed
            to enhance your coffee experience.
        </p>
    </div>
    <div class="col-12">
        <h2>Key Features:</h2>
        <ul>
            <li>Comprehensive Coffee Shop Listings – Find independent coffee shops offering high-quality espresso,
                single-origin beans, and expertly crafted drinks.</li>
            <li>Location-Based Search – Easily navigate through a map of local shops to find coffee near you.</li>
            <li>Curated Selections – Discover shops known for their commitment to quality, sustainability, and
                craftsmanship.</li>
            <li>Neighborhood & Atmosphere – Utilizing Google AI view coffee shops based on preferences such as quiet workspaces, lively social
                hubs, or aesthetically designed shops.</li>
        </ul>
    </div>
    <div class="col-12">
        <div class="container px-5">
        <h2 class="text-center font-alt mb-4">Get the app now!</h2>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center"><a
                class="me-lg-3 mb-4 mb-lg-0"
                href="https://play.google.com/store/apps/details?id=com.parkasoftware.mplscoffee"><img class="app-badge"
                    src="/images/google-play-badge.svg" alt="Download MPLS Coffee for Android"></a><a
                href="https://apps.apple.com/us/app/mpls-coffee/id6736864166?platform=iphone"><img class="app-badge"
                    src="/images/app-store-badge.svg" alt="Download MPLS Coffee for iOS"></a></div>
    </div>
    </div>
</div>