@{
    ViewData["Title"] = "Find the best coffee in Minneapolis, St. Paul and around Minnesota";
}

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Find the best coffee in Minneapolis &amp; St. Paul.</h1>
                    <p class="lead fw-normal text-muted mb-5">MPLS Coffee is a coffee locator app for Minneapolis and
                        the surrounding areas. Find the best coffee shop closest to you with ease.</p>
                    <div class="d-flex flex-column flex-lg-row align-items-center"><a class="me-lg-3 mb-4 mb-lg-0"
                            href="https://play.google.com/store/apps/details?id=com.parkasoftware.mplscoffee"><img
                                class="app-badge" src="/images/google-play-badge.svg"
                                alt="Download MPLS Coffee for Android"></a><a
                            href="https://apps.apple.com/us/app/mpls-coffee/id6736864166?platform=iphone"><img
                                class="app-badge" src="/images/app-store-badge.svg"
                                alt="Download MPLS Coffee for iOS"></a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="masthead-device-mockup text-center mt-5">
                    <img src="/images/iphone_up.png" class="w-75" alt="Find the best coffee shops in Minneapolis mobile app"/>
                </div>
            </div>
        </div>
    </div>
</header>
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">Highlights independent coffee shops around Minnesota. </div>
            </div>
        </div>
    </div>
</aside>
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="fa-regular fa-robot fa-2xl mb-3"></i>
                                <h3 class="font-alt">AI Summaries</h3>
                                <p class="text-muted mb-0">Using Google Gemini AI feature to summerize each independent
                                    coffee shop with helpful overviews.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="fa-regular fa-location-dot fa-2xl mb-3"></i>
                                <h3 class="font-alt">Find the Nearest Indie Coffee Shop</h3>
                                <p class="text-muted mb-0">Find the independent coffee shop that's closest to you from
                                    around Minnesota.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text-center">
                                <i class="fa-regular fa-rocket-launch fa-2xl mb-3"></i>
                                <h3 class="font-alt">Free to Use</h3>
                                <p class="text-muted mb-0">No ads or tracking. MPLS Coffee is a free coffee locator app
                                    that's built as your coffee utility. Nothing more.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <i class="fa-regular fa-door-open fa-2xl mb-3"></i>
                                <h3 class="font-alt">Open Now</h3>
                                <p class="text-muted mb-0">Filter by coffee shops that are open right now or later. So
                                    you can
                                    get coffee when you need it or plan out your coffee routes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <div class="features-device-mockup">
                    <img src="/images/iphone_up2.png" class="w-75" alt="Coffee shop listings in mobile app" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gradient-primary-to-secondary" id="download">
    <div class="container px-5">
        <h2 class="text-center text-white font-alt mb-4">Get the app now!</h2>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center"><a
                class="me-lg-3 mb-4 mb-lg-0"
                href="https://play.google.com/store/apps/details?id=com.parkasoftware.mplscoffee"><img class="app-badge"
                    src="/images/google-play-badge.svg" alt="Download MPLS Coffee for Android"></a><a
                href="https://apps.apple.com/us/app/mpls-coffee/id6736864166?platform=iphone"><img class="app-badge"
                    src="/images/app-store-badge.svg" alt="Download MPLS Coffee for iOS"></a></div>
    </div>
</section>