.filterContainer {
  display: flex;
  align-items: center;

  background-color: transparent;
}

.filterLabel {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  color: var(--apple-gray-dark);
}

.filterLabel input[type="checkbox"] {
  margin-right: 0.5rem;
}