:root {
  --apple-black: #000000;
  --apple-white: #FFFFFF;
  --apple-gray-light: #F5F5F7;
  --apple-gray-medium: #86868B;
  --apple-gray-dark: #1D1D1F;
  --apple-blue: #0071E3; /* Kept for interactive elements */
}

body {
   color: var(--apple-black);
  background-color: var(--apple-white);
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  position: relative;
}

.btn-primary {
  background-color: var(--apple-black);
  border-color: var(--apple-black);
  color: var(--apple-white);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--apple-gray-dark);
  border-color: var(--apple-gray-dark);
}

a {
  color: var(--apple-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}